html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../Images/background.png");
	background: contain;
}

img {
	position: absolute;
	position: fixed;
    top: 10%;
    left: 25%;
    width: 50%;
    height: auto;
}

form {
	width: 25em;
	height: 19em;
	position: absolute;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: sans-serif;
	color: #FFFFFF;
}

div {
	height: 4.75em;
	width: 100%;
}

.username {
	background-color: #4DAF7C;
}

.password {
	background-color: #404241;
}

.login {
	background-color: #E9C85D;
}

.signup {
	background-color: #DB2E57;
}

input {
	height: 1.3em;
	width: 8em;
	font-size: 1.5em;
	text-align: center;
	margin-top: 0.8625em;
	margin-left: 4.25em;
	border: 0.05em solid #FFFFFF;
	outline: 0;
	color: #FFFFFF;
	background: transparent;
}

input[type="submit"] {
	border: 0;
	cursor: pointer;
}

::-moz-placeholder {
	color: #FFFFFF;
}

:-ms-input-placeholder {
	color: #FFFFFF;
}

::-webkit-input-placeholder {
	color: #FFFFFF;
}