html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../Images/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.day, .month {
	width: 1.5em;
}

.year {
	width: 2.5em;
}