html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../Images/background.png");
	background: contain;
}

.EventBox {
	background-color: #FFFFFF;
	margin-top: 3em;
	margin-left: 3em;
	float: left;
	width: 45%;
}