html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../Images/background.png");
	background: contain;
}

#Add_event{
	position: absolute;
	margin-top: 1em;
	left: 50%;
	transform: translate(-50%);
}

.eventDiv {
	background-color: #FFFFFF;
	position: absolute;
	width: 90%;
	left: 50%;
	top: 7em;
	transform: translate(-50%);
}

.eventBox {
	background-color: #4DAF7C;
}