html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../Images/background.png");
	background: contain;
}

.add_event {
	left: 50%;
	top: 5.5em;
	position: absolute;
	transform: translate(-50%);
}

.eventDiv {
	background-color: #FFFFFF;
	position: absolute;
	width: 90%;
	left: 50%;
	top: 6em;
	transform: translate(-50%);
}

.eventBox {
	background-color: #4DAF7C;
}