html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.navigation_bar {
	margin: 0;
	padding: 0;
	z-index: 1;
	width: 100%;
	height: 3em;
	position: fixed;
	list-style-type: none;
	background-color: #333;
	font-family: 'Jura', sans-serif;
}

.home_icon {
	width: 3em;
	height: 100%;
	float: left;
	display: block;
	transition: all linear 0.15s;
}

img {
	width: 100%;
	height: 100%;
}

li {
	float: right;
	display: block;
	padding-top: 1em;
}

li:last-child {
	padding: 0;
}

.search_form {
	height: 3em;
	display: block;
}

.search_bar {
	outline: 0;
	float: right;
	display: block;
	margin-top: 1.4em;
	text-align: center;
}

.lupa {
	border: 0;
	outline: 0;
	padding: 0;
	width: 4.3em;
	height: 4.4em;
	float: right;
	display: block;
	cursor: pointer;
	background: transparent;
	transition: all linear 0.15s;
	background-image: url('../Images/lupa.png');
}

.lupa:hover {
	background-image: #4c4c4c;
}

li a {
	padding: 1em;
	color: white;
	text-decoration: none;
	transition: all linear 0.15s;
}

li a:hover, .home_icon:hover {
	background-color: #4c4c4c;
}

.spacing {
	width: 100%;
	height: 3em;
}